/* .cardBackgrounds {
  background-color: #007bb6;
  background-image: url(ht tps://scontent-bos5-1.xx.fbcdn.net/v/t39.30808-6/293208428_5598089130222783_5952217860441054489_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=uEIgwLv5FZgAX9VXRr8&_nc_ht=scontent-bos5-1.xx&oh=00_AT9slkWZ5iOZ8OVVCAv33cYebDwghSp5TQSNDi6zOcsL8g&oe=62D0C57C);
  filter: opacity(40%);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.zLine {
  z-index: 10;
}

.box1 {
  background-color: #007bb6;
  background-image: url(https://scontent-bos5-1.xx.fbcdn.net/v/t39.30808-6/293188095_5598089340222762_510386859070666456_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=BWAc4YhNtMgAX-KgDoC&tn=zSliJ2IrqfgAju22&_nc_ht=scontent-bos5-1.xx&oh=00_AT-yfgimhMOLZccPaKnCabqtuF11NhK1jHfb08742bThhQ&oe=62D141A7);
  filter: blur(5px);
  filter: opacity(75%);
  padding: 230px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box2 {
  background-color: #007bb6;
  background-image: url(https://scontent-bos5-1.xx.fbcdn.net/v/t39.30808-6/293195443_5598089963556033_3338250844538913698_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=BlTTEtutb6QAX_Wfkt0&_nc_ht=scontent-bos5-1.xx&oh=00_AT8s3GJWNAPaVorrWMHrYIm6b2Z6Q_cLDayVmotIT_l_Ow&oe=62D17943);
  filter: blur(5px);
  filter: opacity(75%);
  padding: 230px;
  height: 100%;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  }  
.box3 {
  background-color: #007bb6;
  background-image: url(https://scontent-bos5-1.xx.fbcdn.net/v/t39.30808-6/293136937_5598089543556075_5137935315736666917_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=9cuunA05OR0AX9FBKgy&tn=zSliJ2IrqfgAju22&_nc_ht=scontent-bos5-1.xx&oh=00_AT_oteAm88N-1DIhfgLQN3NuBJhD34yy89PeZ6jX0kQshg&oe=62D1ABDD);
  filter: blur(5px);
  filter: opacity(75%);
  padding: 230px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
.box4 {
  background-color: #007bb6;
  background-image: url(https://scontent-bos5-1.xx.fbcdn.net/v/t39.30808-6/293130678_5598089566889406_2183629915273550983_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=9Sixr4NCTw0AX_305xu&tn=zSliJ2IrqfgAju22&_nc_ht=scontent-bos5-1.xx&oh=00_AT9N9tio_fU_FfHZuhSPQpEPc-cbcUJD8H5kuQWRUg68eg&oe=62D14FF2);
  filter: blur(5px);
  filter: opacity(75%);
  padding: 230px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.padding{
  margin-left: 0.1875rem;
}

.cardSize{
  min-height: 100px;
  min-width: 170px;
}
  
.nav-link {
  font-size: 1rem;
}

.vertRule {
  border-right: solid 0.125rem;
  border-color: white;
}

#heart{
  font-size: 1rem;
  color: red;
}

#backDrop {
  background-image: inherit;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  position: relative;
}

.textCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: calc(1001);
}

.otherBackDrop {
  position: relative;
  filter: blur(5px);
  filter: opacity(75%);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pill {
  background-color: gray;
  min-width: 15.625rem;
  border-radius: 1.25rem;
  text-align: center;
}

.my-flex-item {
  padding-top: 3rem;
  justify-content: center;
  background-color: gray;
  border: 16rem;
  height: 100%;
}

#zeroPads {
  padding-right: 0%;
  padding-left: 0%;
}

.sides {
  width: 33.33%;
  background-color: lightgray;
}

/* Styles foe the footer. I originally got them from Codepen */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.instagram:hover
{
  background-color:#00aced
}
.social-icons a.blog:hover
{
  background-color:#007bb6
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
